.app-container {
  display: flex;
  min-height: 100vh;
}
  
  
  /* Sidebar */
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #333;
    color: white;
    display: flex;
    flex-direction: column;
  }
  
  .sidebar-content {
    padding: 20px;
  }
  
  .logo {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .nav-list {
    list-style: none;
    padding: 0;
  }
  
  .nav-list li {
    margin: 10px 0;
    cursor: pointer;
  }
  
  .nav-list li.active .sub-nav-list {
    display: block;
  }
  
  .sub-nav-list {
    list-style: none;
    padding-left: 20px;
    display: none;
  }
  
  /* Main Content */
  .main-content {
    margin-left: 250px; /* Compensa el ancho del sidebar */
    flex: 1; /* Hace que ocupe el espacio restante */
    padding: 20px;
  }
  
  /* Footer */
  .footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px 20px;
    position: relative;
    bottom: 0;
    width: 100%;
    flex-shrink: 0; /* Evita que el footer se reduzca */
  }
  
  .footer-content {
    font-size: 14px;
  }
  
  /* Responsive */
  @media (max-width: 768px) {
    .sidebar {
      width: 200px;
    }
  
    .main-content {
      margin-left: 200px;
    }
  }
  
  @media (max-width: 480px) {
    .sidebar {
      position: relative;
      width: 100%;
      height: auto;
    }
  
    .main-content {
      margin-left: 0;
    }
  }
  